body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.input-field {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 1;
  margin-right: 10px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #45a049;
}

.todo-list {
  list-style-type: none;
  padding: 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #ccc;
}

.todo-item:last-child {
  border-bottom: none;
}

.delete-button {
  background: none;
  border: none;
  cursor: pointer;
}


/* Clases específicas */
.done {
  text-decoration: line-through; /* Tachado para indicar tarea completada */
  background-color: rgba(114, 0, 137, 0.2);
  border-radius: 30px;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
}

.undone {
  margin-inline: 30px;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
}

.delete-button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
}
.delete-button:hover {
  width: 30px;
  height: 30px;
  border: none;
  background-color: rgb(103, 0, 0, 0.2);
  border-radius: 20px;
}

img {
  width: 20px;
  height: 20px;
}

.letra {
  font-size: 40px;
  font-weight: bold;
}